html {
    font-family: 'Inter', sans-serif;
    background-image: url(./assets/bg-repeat.png);
}

body {
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

hr {
    margin-left: auto;
    margin-right: auto;
    opacity: 10%;
    width: 60%;
}


::-webkit-scrollbar {
    display: none;
}

.header {
    position: relative;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(./assets/caplol.png);
}

.header h1 {
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    font-weight: 1000;
    letter-spacing: 7px;
}

.header span {
    font-weight: 700;
}

.texto-vertical-r {
    position: absolute;
    width: 80px;
    text-orientation: upright;
    left: calc(50% - 76px/2 + 734px);
    top: 50%;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    color: #ddd;
    transform: rotate(-90deg);
}

.texto-vertical-l {
    position: absolute;
    width: 80px;
    text-orientation: upright;
    right: calc(50% - 76px/2 + 734px);
    top: 50%;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    color: #ddd;
    transform: rotate(90deg);
}

.navbar {
    margin: 1rem;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-li {

    text-transform: uppercase;
    margin-right: 50px;
}

.navbar-li:not(:last-child)::after {
    content: "/";
    margin-left: 30px;
    color: white;
    font-weight: 1000;
}

.navbar a {
    font-weight: 300;
    color: #ddd !important;
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.navbar a:hover {
    color: black;
    transition: 300ms;
    border-bottom: 1px solid white;
}

.bloco {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.bloco h1 {
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
}

#regras a {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
}

#regras a:hover {
    transition: 300ms;
    color: #272727;
}


#twitch-embed {
    display: flex;
    justify-content: center;
    align-items: center;
}

#twitch-embed iframe {
    border-radius: 20px;
    overflow: hidden;
}

.hr-ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    margin-top: 6rem;
    margin-bottom: 6rem;
    opacity: 100%;
    border: none;
}

.equipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

}

.equipes-lista {
    width: 800px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.jogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

}

.jogos-lista {
    width: 300px;
    height: 600px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-conteudo {
    text-align: center;
    width: 120vh;
    height: 70vh;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.tabela-conteudo li {
    list-style-type: none;
    color: white;
    margin: 2rem;
}

.tabela-conteudo span {
    font-weight: 1000;
    margin-right: 5px;
}

.icones {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.icones img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.icones a {
    text-decoration: none;
    font-weight: 1000;
    color: #ddd;
    display: flex;
    align-items: center;
}

.icones a:hover {
    transition: 300ms;
    color: #272727;
}

.footer {
    position: relative;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url(./assets/caplol.png);
}

.footer h1 {
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    font-weight: 1000;
    letter-spacing: 7px;
}

.footer span {
    font-weight: 700;
}