:root {
    --inv: rgb(86, 145, 255);
    --intz: rgb(255, 153, 238);
    --oly: rgb(255, 216, 42);
    --lbd: rgb(247, 192, 90);
    --unb: rgb(90, 210, 247);
    --hez: rgb(235, 235, 235);
    --fag: rgb(234, 90, 247);
    --ump: rgb(92, 72, 72);
    --wol: rgb(35, 37, 163);
    --idn: rgb(247, 90, 90);
    --zdc: rgb(196, 0, 0);
    --vde: rgb(90, 247, 208);

    --vitoria: rgb(153, 255, 153);
    --derrota: rgb(255, 153, 153);
}

html {
    font-family: 'Inter', sans-serif;
    background-image: url(/assets/img/icones/bg-repeat.png);
    background-color: rgb(31, 31, 31);
    animation: move-background 100s linear infinite;
}

@keyframes move-background {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0%;
    }
}

body {
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

hr {
    margin-left: auto;
    margin-right: auto;
    opacity: 10%;
    width: 60%;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    position: relative;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(/assets/img/icones/caplol.png);
}

.header h1 {
    margin-top: 0;
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    font-weight: 1000;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.header h2 {
    margin-top: 0;
    font-weight: 300;
    font-size: 12px;
}

.navbar {
    margin: 0;
    padding-top: 1.2rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-li {
    text-transform: uppercase;
    margin: 0 1rem;
    border-radius: 10px;
}

.navbar a {
    font-size: 16px;
    font-weight: 300;
    color: #ddd !important;
    text-decoration: none;
    color: #333;
    padding: 15px;
}

.navbar a:hover {
    cursor: pointer;
    color: #ec3737 !important;
    transition: 500ms;
    border-bottom: solid 1px #ec3737;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-toggle img {
    vertical-align: middle;
    width: 5px;
    height: 5px;
}

.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.contagem-inicio {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #640000;
}

.contagem-inicio h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 1000;
    font-size: 30px;
    color: white;
}

#contador {
    font-size: 17px;
    color: white;
}

.bloco#transmissao {
    margin-top: 2rem;
}

.bloco {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.bloco h1 {
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
}


.mvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mvp h1 {
    text-align: center;
    font-weight: 400;
    color: white;
    font-size: 11px;
    opacity: 30%;
}

.mvp h1:hover {
    opacity: 100%;
    transition: 300ms;
    cursor: default;
}

.mvp-conteudo {
    text-align: center;
    width: 70vh;
    height: auto;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.mvp-conteudo img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 0.2rem;
}

.mvp-conteudo li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    color: white;
}

.mvp-conteudo li#posicao-1 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to right, rgba(255, 230, 0, 0.137), transparent);
    border-left: solid 1px gold;
}

.mvp-conteudo li#posicao-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to right, rgba(192, 192, 192, 0.137), transparent);
    border-left: solid 1px silver;
}

.mvp-conteudo li#posicao-3 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to right, rgba(165, 42, 42, 0.137), transparent);
    border-left: solid 1px brown;
}

.mvp-placar {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 4vh;
}

.mvp-placar h2 {
    font-size: 16px;
}

.mvp-placar :nth-child(1) {
    font-size: 14px;
    font-weight: 400;
}

.mvp-placar :nth-child(2) {
    font-weight: 800;
}

.mvp-conteudo b {
    margin-right: 5px;
}

.mvp-conteudo span {
    font-weight: 1000;
}

span#INV {
    color: var(--inv);
}

span#INTZ {
    color: var(--intz);
}

span#OLY {
    color: var(--oly);
}

span#LBD {
    color: var(--lbd);
}

span#UNB {
    color: var(--unb);
}

span#FAG {
    color: var(--fag);
}

span#UMP {
    color: var(--ump);
}

span#WOL {
    color: var(--wol);
}

span#IDN {
    color: var(--idn);
}

span#ZDC {
    color: var(--zdc);
}

span#VDE {
    color: var(--vde);
}

#regras a {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
    border-bottom: solid 1px #ec3737;
}

#regras a:hover {
    transition: 300ms;
    color: #ec3737;
}



#twitch-embed {
    display: flex;
    justify-content: center;
    align-items: center;
}

#twitch-embed iframe {
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
}

.hr-ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    margin-top: 6rem;
    margin-bottom: 6rem;
    opacity: 100%;
    border: none;
}

.equipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

.equipes>div {
    flex-basis: calc(33.33% - 40px);
    width: calc(33.33% - 40px);
}

.equipes-lista {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    min-height: 500px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.equipes-lista h1 {
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    font-weight: 1000;
}

.equipes-lista img {
    margin-top: 1rem;
    align-self: center;
    width: 100px;
    height: 100px;
}

.equipes-lista p {
    text-align: center;
    color: rgb(104, 104, 104);
    font-size: 10px;
}


.equipes :hover {
    transition: 400ms;
    background-color: rgb(31, 31, 31);
}


.equipes-info hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    opacity: 10%;
    width: 100%;
}

.equipes-info h2 {
    margin: 0;
    font-weight: 1000;
    text-align: center;
    font-size: 15px;
}

.equipes-info h3 {
    margin: 0;
    margin-bottom: 13px;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
}

.titulos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
}

.titulos img {
    margin: 0;
    width: 25px;
    height: 25px;
}

.titulos p {
    margin: 1px;
    font-size: 8px;
    color: rgb(255, 187, 0);
}

.titulos .titulo:hover::before {
    cursor: none;
    content: "Troféu conquistado ao ganhar o CAPLOL 2023.1";
    position: absolute;
    top: -35px;
    left: 0;
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.nicks div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.nicks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin: 1rem;
}

.nicks img {
    margin: 0;
    width: 15px;
    height: 15px;
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-conteudo {
    text-align: center;
    min-width: 120vh;
    height: auto;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.tabela-conteudo img {
    vertical-align: middle;
    width: 13px;
    height: 13px;
}

.tabela-conteudo li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    list-style-type: none;
    color: white;
}

.tabela-conteudo b {
    margin-right: 5px;
}

.tabela-conteudo span {
    font-weight: 1000;
}

.tabela-conteudo li:nth-child(n):nth-child(-n+4) {

    border-left: solid 3px green;
}

.tabela-conteudo li:nth-child(n+5):nth-child(-n+8) {

    border-left: solid 3px rgb(0, 87, 128);
}

.tabela-conteudo li:nth-child(n+9):nth-child(-n+12) {

    border-left: solid 3px rgb(226, 43, 43);
}

.tabela-conteudo span#INV {

    color: var(--inv);
}

.tabela-conteudo span#INTZ {
    color: var(--intz);
}

.tabela-conteudo span#OLY {
    color: var(--oly);
}

.tabela-conteudo span#LBD {
    color: var(--lbd);
}

.tabela-conteudo span#UNB {
    color: var(--unb);
}

.tabela-conteudo span#HEZ {
    color: var(--hez);
}

.legenda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legenda-conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
}

.legenda-conteudo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
}

.legenda-conteudo #superior {
    width: 13px;
    height: 13px;
    margin: 0 10px;
    background-color: #208f3c;
}

.legenda-conteudo #inferior {
    width: 13px;
    height: 13px;
    margin: 0 10px;
    background-color: rgb(0, 87, 128);
}

.legenda-conteudo #eliminacao {
    width: 13px;
    height: 13px;
    margin: 0 10px;
    background-color: rgb(226, 43, 43);
}

.legenda-conteudo p {
    color: white;
    font-size: 13px;
}



.placar {
    margin-left: auto;
}

.placar .score:nth-child(1) {
    font-weight: 500;
}

.placar .score:nth-child(2) {
    font-weight: 500;
    color: rgb(174, 255, 178);
}

.placar .score:nth-child(3) {
    font-weight: 500;
    color: rgb(255, 174, 174);
}


.icones {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.icones img {
    border-radius: 3px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.icones a {
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 400;
    color: #ddd;
    display: flex;
    align-items: center;
}

.icones a:hover {
    transition: 300ms;
    color: #ec3737;
}

@media only screen and (max-width: 768px) {
    html {
        font-family: 'Inter', sans-serif;
        background-color: #242424;
    }

    hr {
        width: 20%;
    }

    .navbar {
        margin: 1rem;
        background-color: rgba(31, 31, 31, 0.397);
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* Alteração: definir a direção como coluna */
        align-items: center;
        /* Alteração: centralizar na horizontal */
    }

    .navbar-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* Alteração: definir a direção como coluna */
        align-items: center;
        /* Alteração: centralizar na horizontal */
        justify-content: center;
        margin-left: 2rem;
    }

    .navbar-li {
        text-transform: uppercase;
        margin-right: 2rem;
        margin-bottom: 1rem;
        /* Alteração: adicionar margem inferior */
    }

    .navbar-li:not(:last-child)::after {
        content: "";
        display: none;
        /* Alteração: remover o ponto após o último item */
    }

    .navbar a {
        font-weight: 300;
        color: #ddd !important;
        text-decoration: none;
        color: #333;
        padding: 5px;
    }

    .navbar a:hover {
        cursor: pointer;
        color: #ec3737 !important;
        transition: 500ms;
        border-bottom: solid 1px #ec3737;
    }


    .bloco h1 {
        font-size: 20px;
    }

    .placar {
        margin-left: 0;
    }

    .tabela-conteudo {
        min-width: 45vh;
    }

    .tabela-conteudo li {
        flex-direction: column;
    }

    .legenda-conteudo {
        display: block;
        background-color: transparent;
    }

    .mvp-conteudo {
        width: auto;
    }

    .icones {
        flex-direction: column;
        gap: 20px;
    }

    .resultado {
        width: 90%;
    }
}