:root {
    --inv: rgb(86, 145, 255);
    --intz: rgb(255, 153, 238);
    --oly: rgb(255, 216, 42);
    --deb: rgb(121, 247, 90);
    --unb: rgb(90, 210, 247);
    --hez: rgb(235, 235, 235);
    --fag: rgb(234, 90, 247);
    --ump: rgb(92, 72, 72);
    --wol: rgb(35, 37, 163);
    --idn: rgb(247, 90, 90);
    --zdc: #c40000;
    --vde: rgb(90, 247, 208);

    --vitoria: rgb(153, 255, 153);
    --derrota: rgb(255, 153, 153);
}

@font-face {
    font-family: 'StretchPro';
    src: url('/assets/StretchPro.otf') format('opentype');
}

html {
    font-family: 'Inter', sans-serif;
    background-image: url(/assets/img/icones/bg-repeat.png);
    background-color: rgb(31, 31, 31);
    animation: move-background 100s linear infinite;
    scroll-behavior: smooth;
}

@keyframes move-background {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0%;
    }
}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.piscar {
    animation: piscar 1s infinite;
}


body {
    position: relative;
    scroll-behavior: smooth;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

hr {
    margin-left: auto;
    margin-right: auto;
    opacity: 10%;
    width: 60%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #727272;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background: #e2e2e2;
}


.header {
    position: relative;
    text-align: center;
    padding: 0.5rem;
    background-color: #323232;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.815)), url(/assets/img/icones/caplol.png);
}

.header h1 {
    font-weight: 100;
    font-size: 25px;
    font-family: 'StretchPro', sans-serif;
    font-feature-settings: "liga"1;
    margin-top: 0;
    color: #ffffff;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.header img {
    margin-top: 10px;
    width: 50px;
}

.header a:hover {
    transition: 300ms;
    opacity: 70%;
}

.navbar {
    margin: 0;
    padding-top: 1.2rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    color: #333;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-li {
    text-transform: uppercase;
    margin: 0 1rem;
    border-radius: 10px;
}

.navbar a {
    font-size: 15px;
    font-weight: 300;
    color: #ddd !important;
    text-decoration: none;
    color: #333;
    padding: 15px;
}

.navbar a:hover {
    cursor: pointer;
    color: #ec3737 !important;
    transition: 500ms;
    border-bottom: solid 1px #ec3737;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.dropdown-toggle img {
    vertical-align: middle;
    width: 5px;
    height: 5px;
}

.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.premiacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    margin-top: 2rem;
}

.premiacao-header h1 {
    font-family: 'StretchPro';
    font-feature-settings: "liga"1;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: white;
}

.premiacao-header h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.premiacao-valor {
    margin-top: 1rem;
}

.premiacao-valor h1 {
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.premiacao-valor h2 {
    color: #4fc96d;
    margin: 0;
    font-weight: 1000;
}

.premiacao-conteudo {
    margin-top: 1rem;
    border-radius: 25px;
    background-color: #191919;
    padding-bottom: 1.5rem;
}

.premiacao-conteudo img {
    margin-top: 2rem;
    width: 80%;
}

.premiacao-conteudo a img:hover {
    transition: 400ms;
    filter: invert(100%);
}

.popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-decoration: none;
    text-align: left;

    z-index: 999999;
    top: 10px;
    right: 10px;
    padding: 1rem;
    background-color: #1b1b1b;
    width: 65vh;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h1 {
    margin: 0;
    font-weight: 1000;
    font-size: 13px;
    color: white;
}

.popup h2 {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
}

.popup img {
    width: 12%;
    height: 12%;
    vertical-align: middle;
}

.popup #fechar {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-size: 12px;
    padding: 10px;
    border: solid 1px rgba(255, 255, 255, 0.219);
    border-radius: 10px;
}

.popup #fechar:hover {
    opacity: 50%;
    transition: 300ms;
}

#contador {
    font-size: 17px;
    color: white;
}

.bloco#transmissao {
    margin-top: 2rem;
}


.bloco {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.bloco h1 {
    font-family: 'StretchPro', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-feature-settings: "liga"1;
    color: white;
}


.mvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mvp h1 {
    text-align: center;
    font-weight: 400;
    color: white;
    font-size: 11px;
    opacity: 30%;
}

.mvp h1:hover {
    opacity: 100%;
    transition: 300ms;
    cursor: default;
}

.mvp-conteudo {
    text-align: center;
    width: 70vh;
    height: auto;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.mvp-conteudo img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 0.2rem;
}

.mvp-conteudo li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    color: white;
}

.mvp-conteudo li#posicao-1 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to right, rgba(255, 230, 0, 0.137), transparent);
    border-left: solid 1px gold;
}

.mvp-conteudo li#posicao-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to right, rgba(192, 192, 192, 0.137), transparent);
    border-left: solid 1px silver;
}

.mvp-conteudo li#posicao-3 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(to right, rgba(165, 42, 42, 0.137), transparent);
    border-left: solid 1px brown;
}

.mvp-conteudo li#posicao-4 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-left: solid 1px rgb(80, 80, 80);
}

.mvp-conteudo li#posicao-5 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-left: solid 1px rgb(80, 80, 80);
}

.mvp-placar {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 4vh;
}

.mvp-placar h2 {
    font-size: 16px;
}

.mvp-placar :nth-child(1) {
    font-size: 14px;
    font-weight: 400;
}

.mvp-placar :nth-child(2) {
    font-weight: 800;
}

.mvp-conteudo b {
    margin-right: 5px;
}

.mvp-conteudo span {
    font-weight: 1000;
}

span#INV {
    color: var(--inv);
}

span#INTZ {
    color: var(--intz);
}

span#OLY {
    color: var(--oly);
}

span#LBD {
    color: var(--lbd);
}

span#UNB {
    color: var(--unb);
}

span#FAG {
    color: var(--fag);
}

span#UMP {
    color: var(--ump);
}

span#WOL {
    color: var(--wol);
}

span#IDN {
    color: var(--idn);
}

span#ZDC {
    color: var(--zdc);
}

span#VDE {
    color: var(--vde);
}

#regras a {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
    border-bottom: solid 1px #ec3737;
}

#regras a:hover {
    transition: 300ms;
    color: #ec3737;
}



#twitch-embed {
    display: flex;
    justify-content: center;
    align-items: center;
}

#twitch-embed iframe {
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
}

.hr-ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    margin-top: 6rem;
    margin-bottom: 6rem;
    opacity: 100%;
    border: none;
}

.equipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 2rem;
}

.equipes>div {
    flex-basis: calc(33.33% - 40px);
    width: calc(33.33% - 40px);
}

.equipes-lista {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    min-height: 550px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
    outline: solid 1px rgba(255, 255, 255, 0.035);
}

.equipes-lista h1 {
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    font-weight: 1000;
}

.equipes-lista img {
    margin-top: 1rem;
    align-self: center;
    width: 100px;
    height: 100px;
}

.equipes-lista p {
    text-align: center;
    color: rgb(104, 104, 104);
    font-size: 10px;
}


.equipes :hover {
    transition: 200ms;
    background-color: #272727;
}


.equipes-info hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    opacity: 3%;
    width: 100%;
    color: rgb(255, 255, 255)
}

.equipes-info h2 {
    margin: 0;
    font-weight: 1000;
    text-align: center;
    font-size: 15px;
}

.equipes-info h3 {
    margin: 0;
    margin-bottom: 13px;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.titulos img {
    margin: 0;
    width: 10px;
    height: 10px;
}

.titulos div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;

    padding: 8px;
    border-radius: 20px;
    background-color: #111111;
}

.titulos div#campeao:hover::before {
    cursor: help;
    content: "Conquista adquirida ao se consagrar campeão do CAPLOL.";
    position: absolute;
    top: -70px;
    width: 220px;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.titulos div#campeao p {
    font-weight: 600;
    color: rgb(255, 196, 0);
    margin: 0;
}

.titulos div#veterano:hover::before {
    cursor: auto;
    content: "Conquista adquirida ao participar de uma edição anterior do CAPLOL.";
    position: absolute;
    top: -90px;
    width: 220px;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.titulos div#veterano p {
    font-weight: 600;
    color: rgb(196, 196, 196);
    margin: 0;
}

.titulos div#novato:hover::before {
    cursor: auto;
    content: "Conquista adquirida ao se inscrever pela primeira vez no CAPLOL.";
    position: absolute;
    top: -90px;
    width: 220px;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.titulos div#novato p {
    font-weight: 600;
    color: rgb(172, 92, 92);
    margin: 0;
}

.nicks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin: 1rem;
}

.nicks img {
    margin: 0;
    width: 15px;
    height: 15px;
}

.nicks div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.nicks hr {
    opacity: 4%;
    margin: 0;
}

.nicks #reserva {
    opacity: 50%;
    font-size: 11px;
}

.tabela-explicacao {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    cursor: help;

}


.tabela-explicacao img {
    width: 10px;
    margin-right: 5px;

}

.tabela-explicacao div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    position: relative;
    width: fit-content;
    min-width: 15vh;
    color: white;
    font-size: 10px;
    background-color: #181818;
    padding: 8px;
    border-radius: 20px;
    text-align: center;

}

.tabela-explicacao div:hover {
    transition: 300ms;
    background-color: rgb(66, 66, 66);
}


.tabela-explicacao div:hover::after {
    cursor: help;
    content: "O critério de desempate entre equipes com a mesma classificação é o tempo de partida, ou seja, a equipe que venceu seus jogos em menos tempo estará posicionada acima.";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50vh;
    text-align: center;
    transform: translateX(-50%);
    background-color: #000000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 14px;
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-conteudo {
    text-align: center;
    min-width: 120vh;
    height: auto;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.tabela-conteudo img {
    vertical-align: middle;
    width: 13px;
    height: 13px;
}

.tabela-conteudo li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    list-style-type: none;
    color: white;
}

.tabela-conteudo b {
    margin-right: 5px;
}

.tabela-conteudo span {
    font-weight: 1000;
}

.tabela-conteudo li:nth-child(n):nth-child(-n+4) {

    border-left: solid 3px green;
}

.tabela-conteudo li:nth-child(n+5):nth-child(-n+8) {

    border-left: solid 3px rgb(0, 87, 128);
}

.tabela-conteudo li:nth-child(n+9):nth-child(-n+12) {

    border-left: solid 3px rgb(226, 43, 43);
}

.tabela-conteudo span#INV {

    color: var(--inv);
}

.tabela-conteudo span#INTZ {
    color: var(--intz);
}

.tabela-conteudo span#OLY {
    color: var(--oly);
}

.tabela-conteudo span#DEB {
    color: var(--deb);
}

.tabela-conteudo span#UNB {
    color: var(--unb);
}

.tabela-conteudo span#HEZ {
    color: var(--hez);
}

.legenda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legenda-conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
}

.legenda-conteudo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
}

.legenda-conteudo #superior {
    width: 13px;
    height: 13px;
    margin: 0 10px;
    background-color: #208f3c;
}

.legenda-conteudo #inferior {
    width: 13px;
    height: 13px;
    margin: 0 10px;
    background-color: rgb(0, 87, 128);
}

.legenda-conteudo #eliminacao {
    width: 13px;
    height: 13px;
    margin: 0 10px;
    background-color: rgb(226, 43, 43);
}

.legenda-conteudo p {
    color: white;
    font-size: 13px;
}

.placar {
    margin-left: auto;
}

.placar .score:nth-child(1) {
    font-weight: 500;
}

.placar .score:nth-child(2) {
    font-weight: 500;
    color: rgb(174, 255, 178);
}

.placar .score:nth-child(3) {
    font-weight: 500;
    color: rgb(255, 174, 174);
}


.patrocinador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.patrocinador-conteudo {
    padding: 1rem 3rem;
    background-color: #111111;
    border-radius: 15px;
    margin: 1rem;
}

.patrocinador-conteudo:hover {
    filter: invert(100%);
    transition: 600ms;
    background-color: #222222;
    cursor: pointer;
}

.patrocinador-conteudo img {
    width: 100px;
    filter: invert(100%);
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin-top: 5rem;
    font-size: 11px;
    color: rgb(105, 105, 105);
}

.contato p {
    margin: 0;
    margin-bottom: 3px;
    text-align: center;
}

.contato a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

.contato a:hover {
    transition: 300ms;
    color: #ec3737;
    cursor: pointer;
}

.contato img {
    width: 10px;
    margin-right: 5px;
    filter: invert(70%);
    vertical-align: middle;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 3rem 0;
}

.footer hr {
    opacity: 30%;
    width: 60%;
}

.footer #logo {
    margin-top: 2rem;
    width: 50px;
}

.footer p {
    text-align: center;
    font-size: 11px;
    color: white;
}

.icones {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.icones img {
    background-color: #202020;
    padding: 8px;
    border-radius: 20px;
    width: 15px;
}

.icones a {
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 400;
    color: #ddd;
    display: flex;
    align-items: center;
}

.icones a:hover {
    transition: 300ms;
    opacity: 50%;
}

@media only screen and (max-width: 768px) {
    html {
        font-family: 'Inter', sans-serif;
        background-color: #242424;
    }

    hr {
        width: 20%;
    }

    .navbar {
        margin: 1rem;
        background-color: rgba(31, 31, 31, 0.397);
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* Alteração: definir a direção como coluna */
        align-items: center;
        /* Alteração: centralizar na horizontal */
    }

    .navbar-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* Alteração: definir a direção como coluna */
        align-items: center;
        /* Alteração: centralizar na horizontal */
        justify-content: center;
        margin-left: 2rem;
    }

    .navbar-li {
        text-transform: uppercase;
        margin-right: 2rem;
        margin-bottom: 1rem;
        /* Alteração: adicionar margem inferior */
    }

    .navbar-li:not(:last-child)::after {
        content: "";
        display: none;
    }

    .navbar a {
        font-weight: 300;
        color: #ddd !important;
        text-decoration: none;
        color: #333;
        padding: 5px;
    }

    .navbar a:hover {
        cursor: pointer;
        color: #ec3737 !important;
        transition: 500ms;
        border-bottom: solid 1px #ec3737;
    }

    .popup {
        width: 45vh;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }

    .bloco h1 {
        font-size: 16px;
    }

    .placar {
        margin-left: 0;
    }

    .tabela-conteudo {
        min-width: 45vh;
    }

    .tabela-conteudo li {
        flex-direction: column;
    }

    .legenda-conteudo {
        display: block;
        background-color: transparent;
    }

    .mvp-conteudo {
        width: auto;
    }

    .resultado {
        width: 90%;
    }
}