#verificacao h1 {
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
}

.verificar-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;

    margin-top: 0.3rem 2rem;
    margin-bottom: 10px;
}

.verificar-conteudo input {
    padding: 0.7rem 3rem;
    text-align: center;
    background-color: #181818;
    border-radius: 13px;
    border: none;
    font-size: 16px;

    color: white;
    font-family: 'Inter', sans-serif;
}

.verificar-conteudo input:focus {
    border: none;
    outline: none;
}

.verificar-conteudo ::placeholder {
    font-size: 13px;
    opacity: 40%;
}

.verificar-conteudo button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;

    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.verificar-conteudo button:hover {
    background-color: #ec3737;
    cursor: pointer;
    transition: 400ms;
}

.erroMensagem {
    font-size: 12px;
    color: #ec3737;
}

#resultadosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
    background-color: #181818;
    border-radius: 20px;
    color: white;
}

.jogador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.resultado h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    font-weight: 1000;
}

.resultado img {
    align-self: center;
    width: 80px;
    height: 80px;
}

.resultado h1:nth-child(1) {
    margin-top: 1rem;
}

.resultado h1:nth-child(2) {
    margin-bottom: 0;
}

.resultado h2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 0;
    text-shadow: 2px 0px 4px black;
    color: #ffffff;
    background-color: #222222;
    border-radius: 4px;
    width: fit-content;
    padding: 5px;
}

.resultado h3 {
    /*  RESULTADO INVALIDO */

    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    font-size: 12px;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #ffffff;
    border-radius: 4px;
    width: 60%;
    padding: 5px;

    background-color: #ec3737;

}

.resultado h4 {
    /*  RESULTADO VALIDADO */
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    font-size: 12px;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #ffffff;
    border-radius: 4px;
    width: 60%;
    padding: 5px;

    background-color: #208f3c;
}

.resultado h4#restringido {
    /*  RESULTADO RESTRINGIDO */
    background-color: rgb(103, 103, 255);

}

.inscricao {
    background-color: #242424;
}

.inscricao-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
}

.texto {
    width: 40%;
}

.inscricao-conteudo h1 {
    color: #fff;
    font-size: 21px;
    font-weight: 1000;
}

.inscricao-conteudo p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
}

img {
    width: 300px;
    height: 300px;
}

.tutorial {
    width: 180px;
    height: 180px;
    margin-right: -3rem;
    margin-left: 10px;
}

#registro h1 {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
    border-bottom: solid 1px #37ec64;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 3rem;

    color: white;
}

.checkbox h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.checkbox h1 {
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
}

.checkbox a {
    text-decoration: none;
    color: white;
    color: #ec3737;
}

.checkbox a:hover {
    color: white;
}


.form-inscricao a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3rem;

    border-radius: 20px;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    font-size: 16px;
    background-color: #ec3737;
    padding: 1rem 2rem;
}

.form-inscricao a:hover {
    transition: 400ms;
    cursor: pointer;
    background-color: #242424;
}

@media only screen and (max-width: 768px) {

    .inscricao-conteudo {
        flex-direction: column;
        padding-top: 0;
    }

    .texto {
        width: 100%;
    }

    .inscricao-conteudo h1 {
        text-align: center;
    }

    .inscricao-conteudo img {
        width: 150px;
        height: 150px;
    }
}