.inscricao {
    background-color: #242424;
}

.inscricao-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
}

.texto {
    width: 40%;
}

.inscricao-conteudo h1 {
    color: #fff;
    font-size: 21px;
    font-weight: 1000;
}

.inscricao-conteudo p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
}

img {
    width: 300px;
    height: 300px;
}

.tutorial {
    width: 180px;
    height: 180px;
    margin-right: -3rem;
    margin-left: 10px;
}

#registro h1 {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
    border-bottom: solid 1px #37ec64;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 3rem;

    color: white;
}

.checkbox h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.checkbox h1 {
    font-weight: 1000;
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
}

.checkbox a {
    text-decoration: none;
    color: white;
    color: #ec3737;
}

.checkbox a:hover {
    color: white;
}


.form-inscricao a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3rem;

    border-radius: 20px;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    font-size: 16px;
    background-color: #ec3737;
    padding: 1rem 2rem;
}

.form-inscricao a:hover {
    transition: 400ms;
    cursor: pointer;
    background-color: #242424;
}

@media only screen and (max-width: 768px) {
    
    .inscricao-conteudo {
        flex-direction: column;
        padding-top: 0;
    }
    
    .texto {
        width: 100%;
    }
    
    .inscricao-conteudo h1 {
        text-align: center;
    }

    .inscricao-conteudo img {
        width: 150px;
        height: 150px;
    }
}