/* LAYOUT DA PÁGINA*/


.divisor-de-etapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.divisor-de-etapa h1 {
    font-family: 'StretchPro';
    font-size: 18px;
    letter-spacing: 2px;
    font-feature-settings: "liga"1;
    color: white;
    margin: 0;
}

.divisor-de-etapa h2 {
    text-transform: uppercase;
    font-size: 10px;
}

.divisor-de-etapa h2#finalizado {
    color: #ee7c7c;
}

.divisor-de-etapa h2#aguardando {
    color: #7cb1ee;
}

.divisor-de-etapa h2#andamento {
    color: #afee7c;
}

.divisor-de-etapa hr {
    margin-top: 2rem;

    width: 60%;
}


.botao-mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.botao-mostrar button {
    font-family: 'Inter';
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    color: white;
    background-color: #ec3737;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.botao-mostrar button:hover {
    background-color: #333;
    transition: 300ms;
    cursor: pointer;
}






/* PLAYOFFS */





.playoff {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; /* Duração e tipo de transição */
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    white-space: nowrap;
    overflow-x: auto;
}

.playoff h1 {
    margin: 0;
    color: white;
    font-family: 'StretchPro';
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.playoff h2 {
    margin: 0;
    opacity: 40%;
    color: white;
    font-family: 'inter';
    font-size: 10px;
    margin-bottom: 1.5rem;
}

.time {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 13px;
    color: white;
    padding: 10px 15px;
    background-color: #181818;
    border-left: solid 3px #ec3737;
    height: 15px;
    width: 220px;
} 

.time:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.time img {
    width: 25px;
    vertical-align: middle;
}

.time span {
    font-weight: 1000;
}

.time #derrota {
    position: absolute;
    font-weight: 400;
    right: 10px;
}

.time #vitoria {
    position: absolute;
    font-weight: 400;
    right: 10px;
}

.confronto {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha-1 {
    display: flex;
    gap: 30px;
}

.data {
    color: white;
    position: absolute;
    top: -16px;
    font-size: 9px;
}



/* FASE DE PONTOS */







.seletor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.seletor h1 {
    font-family: 'StretchPro', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-feature-settings: "liga"1;
    color: white;
}

.seletor h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.seletor select {
    margin-bottom: 1rem;
    height: 6vh;
    width: 40vh;
    margin-bottom: 2rem;
    min-width: 80px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.seletor select:focus-visible {
    outline: none;
}

.jogos-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin: 3rem;
}

.jogos-botoes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    min-width: 100px;
}

.jogos-botoes a:hover {
    color: #ec3737;
    transition: 300ms;
    cursor: pointer;
}

.jogos-botoes img {
    width: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.jogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    opacity: 1;
    transition: opacity 0.5s;
}

.jogos.fade-out {
    opacity: 0;
    pointer-events: none;
}

.jogos-lista {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 40px;
    width: 260px;
    min-height: 340px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
}

.jogos-lista h2 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 3px;
}

.jogos-lista h3 {
    font-weight: 200;
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: white;
}

.jogos-lista .order-0 {
    font-size: 11px;
    font-weight: 200;
    color: white;
    top: 0;
    position: absolute;
}

.jogos-lista .order-0 b {
    color: #e03b3b;
}

.jogos-lista .order-1 {
    font-size: 11px;
    font-weight: 200;
    color: white;
    top: 20px;
    position: absolute;
}

.jogos-lista .order-1 b {
    color: #e03b3b;
}

.jogos-lista .order-2 {
    font-size: 11px;
    font-weight: 200;
    color: white;
    top: 40px;
    position: absolute;
}

.jogos-lista .order-2 b {
    color: #e03b3b;
}

.jogos #feito {
    opacity: 45%;
    font-size: 8px;
}

.jogos #feito:hover {
    opacity: 100%;
    transition: 400ms;
    cursor: pointer;
}

.jogos #feito img {
    width: 12px;
    height: 12px;
    vertical-align: text-top;
}

.jogo {
    margin-top: 11px;
    text-align: center;
}

.jogo b:hover {
    color: #ec3737;
    transition: 300ms;
    cursor: pointer;
}

.jogo img {
    width: 18px;
    height: 18px;
    margin: 5px;
    margin-bottom: 10px;
    vertical-align: middle;
}

#vitoria {
    color: var(--vitoria);
    font-weight: 800;
}

#wo {
    color: rgb(255, 197, 6);
    font-size: 8px;
    font-weight: 800;
}

#derrota {
    color: var(--derrota);
}

#menuTimes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    width: 70%;
    margin-bottom: 3rem;
}

#menuTimes img {
    width: 50px;
}

#menuTimes a {
    font-size: 12px;
    color: white;
    background-color: #1d1d1d;
    border-radius: 20px;
    margin-bottom: 1rem;
}

#menuTimes div a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #131313;
    border-radius: 8px;
    font-size: 13px;
    padding: 15px 15px;
}

.seletor #menuTimes .reset {
    padding: 10px 15px;
}

.seletor #menuTimes .reset img {
    width: 20px;
    vertical-align: middle;
}

#menuTimes a:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: #333;
}


#menuTimes div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}




/* RESPONSIVIDADE */


@media only screen and (max-width: 768px) {
    .jogos-botoes {
        gap: 30px;
        flex-direction: column;
    }

    #menuTimes {
        width: 90%;
    }

    #menuTimes div {
        gap: 10px;
    }

    .playoff {
        width: 75%;
    }

}