.hidden {
    display: none;
}

.mostrarJogos img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 20px;
    height: 20px;
    margin-bottom: 0.5rem;
    filter: brightness(100%) invert(1);
}

.mostrarJogos button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 6vh;
    width: 40vh;
    margin-bottom: 2rem;
    min-width: 80px;

    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.mostrarJogos button:hover {
    background-color: #ec3737;
    cursor: pointer;
    transition: 400ms;
}


.seletor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.seletor h1 {
    font-family: 'StretchPro', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-feature-settings: "liga"1;
    color: white;
}

.seletor h2 {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: -30px;
}

.seletor select {
    margin-bottom: 1rem;
    height: 6vh;
    width: 40vh;
    margin-bottom: 2rem;
    min-width: 80px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.seletor select:focus-visible {
    outline: none;
}

.jogos-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin: 3rem;
}

.jogos-botoes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    min-width: 100px;
}

.jogos-botoes a:hover {
    color: #ec3737;
    transition: 300ms;
    cursor: pointer;
}

.jogos-botoes img {
    width: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.jogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 1;
    transition: opacity 0.5s;
}

.jogos.fade-out {
    opacity: 0;
    pointer-events: none;
}

.jogos-lista {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 40px;
    width: 260px;
    min-height: 340px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
}

.jogos-lista h2 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 3px;
}

.jogos-lista h3 {
    font-weight: 200;
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: white;
}

.jogos-lista .order-0 {
    font-size: 11px;
    font-weight: 200;
    color: white;
    top: 0;
    position: absolute;
}

.jogos-lista .order-0 b {
    color: #e03b3b;
}

.jogos-lista .order-1 {
    font-size: 11px;
    font-weight: 200;
    color: white;
    top: 20px;
    position: absolute;
}

.jogos-lista .order-1 b {
    color: #e03b3b;
}

.jogos-lista .order-2 {
    font-size: 11px;
    font-weight: 200;
    color: white;
    top: 40px;
    position: absolute;
}

.jogos-lista .order-2 b {
    color: #e03b3b;
}

.jogos #feito {
    opacity: 65%;
}

.jogos #feito:hover {
    opacity: 100%;
    transition: 400ms;
}

.jogos #feito img {
    width: 12px;
    vertical-align: text-top;
}

.jogo {
    margin-top: 11px;
    text-align: center;
}

.jogo b:hover {
    color: #ec3737;
    transition: 300ms;
    cursor: pointer;
}

.jogo img {
    width: 18px;
    height: 18px;
    margin: 5px;
    margin-bottom: 10px;
    vertical-align: middle;
}

#vitoria {
    color: var(--vitoria);
}

#derrota {
    color: var(--derrota);
}

@media only screen and (max-width: 768px) {
    .jogos-botoes {
        gap: 30px;
        flex-direction: column;
    }
}