.regras h1 {
    color: #ffffff;
    font-weight: 1000;
}

.regras h3 {
    color: #ec3737;
}

.regras a {
    color: #ec3737;
    font-weight: 600;
}

.regras p {
    width: 50%;
    color: #ffffff;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
}

.regras span#aviso {
    color: #ff1b1b;
}

.regras span#aviso2 {
    color: #f76f6f;
}

.regras-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.regras-conteudo {
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242424;
}

@media only screen and (max-width: 768px) {
    .regras h1 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 1000;
    }

    .regras p {
        width: 80%;
        color: #ffffff;
        font-weight: 300;
        text-align: justify;
        line-height: 1.5;
    }
}